<div class="wrap">
  <section id="main-container" role="main" style="min-height: 522px;">
    <header class="title-container">
		<div class="title">
		<div class="col-sm-3">
			<h1>Documentation</h1>
		</div>
		<div class="col-sm-9">
					</div>
	</div>
		<div class="subtitle">
				<div class="col-sm-9">
			<p>Get Started in less than a minute</p>
		</div>
			</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="wrapper-collapsed wrapper-documentation">
				<div class="row">
					<article class="col-sm-9" ng-non-bindable>
<div class="documentation-text">
	<h1 id="phone-verification">Phone Verification</h1>

	<br/>

	<p>This is a standard REST + JSON over HTTPS. This API does a series of things on top of just sending the PIN code: it cleanses the phone number, throttle the requests not to overload the phone, detects if its an authentic transaction, generates the pin code and smart routes it to the phone number.</p>

	<h3>Sending a PIN Code</h3>

	<br/>

	<p>Every time one of your users requests for a PIN code, we need to throttle future requests to the same phone number since Carriers may detect the same SMS being sent and block them for SPAM. We do this based on the <b>PHONE NUMBER</b>. To understand when you are allowed to send another PIN code, please check <b>retry_at</b> field on every HTTP response.</p>

	<p>You start by requesting a PIN code to be sent using any enabled service for the application key such as SMS or VOICE. This endpoint is streamlined to ensure deliverability of the PIN code to the desired phone number. Logic includes dynamically determining the best route based on latency and delivery rates, phone number normalization based on 200+ dialing plans, blacklists and others.</p>

	<br/>

	<p><b>Request</b></p>

	<pre class="code"><code class="http">POST /${app_key}/code/${service} HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

	<p><b>Parameters</b></p>

	<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>app_key</td>
<td>Your application key</td>
</tr>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>phone</td>
<td>Phone number in international format as described in E.123. It also accepts a comma-separated list of phones for multiple verifications.</td>
</tr>
<tr>
<td>service</td>
<td>Service to use when sending the PIN code. Availables are: <b>SMS, Voice</b></td>
</tr>
<tr>
<td>token (optional)</td>
<td>Should you have a token already created and valid, send it thru this parameter</td>
</tr>
<tr>
<td>locale (optional)</td>
<td>The locale/language to send the SMS/Voice call in. Availables are: <b>ar</b> (Arabic), <b>de</b> (German), <b>en</b> (US English), <b>en_gb</b> (UK English), <b>es</b> (Spanish), <b>fi</b> (Finnish), <b>fr</b> (French),  <b>gr</b> (Greek), <b>it</b> (Italian), <b>ja</b> (Japanese), <b>nl</b> (Dutch), <b>pt</b> (Portuguese), <b>ru</b> (Russian), <b>sv</b> (Swedish), <b>tr</b> (Turkish), <b>zh</b> Chinese</td>
</tr>
</tbody>
</table>

	<p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "id":"Transaction ID",
   "token":"Transaction token",
   "status":"SUCCESS or ERROR",
   "message":"Error code when Status is ERROR",
   "phone":"Cleansed phone number",
   "service":"Service used to send PIN code",
   "expires_in":"Seconds this token is still active",
   "retry_in":"Seconds you need to wait until a new request can be made"
}</code></pre>

	<p>Example:</p>
	<pre class="code"><code class="bash">curl --data-urlencode "phone=+1234567890" --data-urlencode "api_key=fa7213306a57328d258edd90fa9a1d88e38e261e" https://api.ringcaptcha.com/egadelycufyzudegy1a8/code/sms</code><code class="json">{
   "status":"SUCCESS",
   "token":"XXXXYYYYZZZZAAAABBBB",
   "id":"UUUUUUUUUUUUUUU",
   "phone":"+1234567890",
   "service":"SMS",
   "retry_in":60,
   "expires_in":900
}</code></pre>

	<h3>Verifying the PIN code</h3>

	<br/>

	<p>After the user has received the code, you will need to execute one last HTTP request with the PIN code the user received to close the verification loop. This step ensures the transactions is authentic and verifies the PIN code inserted by the user matches the one sent via SMS/Voice. This endpoint will also return available information of the phone number, like the carrier, type, normalized phone number, etc.</p></p>

	<br/>

	<p><b>Request</b></p>

	<pre class="code"><code class="http">POST /${app_key}/verify HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

	<p><b>Parameters</b></p>

	<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>app_key</td>
<td>Your application key</td>
</tr>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>phone</td>
<td>Phone number in international format as described in E.123. Either this parameter or token must be sent.</td>
</tr>
<tr>
<td>code</td>
<td>The 4 digit PIN code to verify with the one sent in the <b>code</b> endpoint</td>
</tr>
<tr>
<td>token</td>
<td>The token received by the <b>code</b> endpoint when requesting a PIN code to be sent. Either this parameter or phone must be sent.</td>
</tr>
</tbody>
</table>

	<p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "id":"Transaction ID",
   "status":"SUCCESS or ERROR",
   "message":"Error code when Status is ERROR",
   "phone":"Cleansed phone number",
   "geolocation":"Information about the geo-location of the phone if possible and feature enabled",
   "threat_level":"an indicator detailing the transaction threat level (e.g.: low, medium or high)",
   "phone_type":"LANDLINE, MOBILE, VOIP, etc",
   "carrier":"name of carrier",
   "referer":"url of the widget where the user asked PIN code"
}</code></pre>

	<p>Example:</p>
	<pre class="code"><code class="bash">curl --data-urlencode "phone=+1234567890" --data-urlencode "api_key=fa7213306a57328d258edd90fa9a1d88e38e261e" --data-urlencode "code=1234" https://api.ringcaptcha.com/egadelycufyzudegy1a8/verify</code><code class="json">{
   "status":"SUCCESS",
   "id":"UUUUUUUUUUUUUUU",
   "phone":"+1234567890",
   "geolocation":0,
   "phone_type":"MOBILE",
   "carrier":"AT&T",
   "threat_level":"LOW",
   "referer":"http:\/\/localhost\/demo\/"
}</code></pre>

   <h3>Implementing SMS Deep-Linking</h3>

   <br/>

   <p>Every SMS link sent by RingCaptcha will deep-link the user to either the application store for onboarding or the installed application for verification. Ringcaptcha link will redirect to the configured scheme and host for the app whenever a user opens the SMS link in their browser, the following URL:</p>

   <pre class="code"><code style="java">scheme://ringcaptcha/verified?token={TOKEN}&amp;pin={PIN_CODE}</code></pre>

	<h2 id="whitelist">Whitelists</h2>

	<br/>

	<p>Whenever you want to bypass all blocks like allowing a specific VOIP number, or allowing the same number to verify X amount of times, checking the numbers that have been whitelisted or deleting a previously whitelisted number, you will need to use this endpoint.</p>

	<br/>

   <h3>Adding a Phone Number to the Whitelist</h3>

   <br/>

	<p><b>Request</b></p>

	<pre class="code"><code class="http">POST /apps/${app_key}/whitelist HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

	<p><b>Parameters</b></p>

	<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>app_key</td>
<td>Your application key</td>
</tr>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>phone</td>
<td>Phone number in international format as described in E.123. to whitelist</td>
</tr>
<tr>
<td>add_verifications</td>
<td>Amount of verifications to allow extra for this phone number</td>
</tr>
<tr>
<td>Description</td>
<td>Any description you'd like to include.</td>
</tr>
</tbody>
</table>

	<p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "phone_number":"1234567890",
   "max_verifications":"XX",
   "description":"description",
   "created_at":"2015-01-26 17:33:30",
   "updated_at":"2015-01-27 20:42:59"
}</code></pre>

	<p>Example:</p>
	<pre class="code"><code class="bash">curl --data-urlencode "api_key=fa7213306a57328d258edd90fa9a1d88e38e261e" --data-urlencode "phone=+1234567890" --data-urlencode "add_verifications=2" --data-urlencode "description=whitelisting" https://api.ringcaptcha.com/apps/egadelycufyzudegy1a8/whitelist</code><code class="json">{
   "phone_number":"1234567890",
   "max_verifications":"2",
   "description":"whitelisting",
   "created_at":"2015-01-27 20:42:59",
   "updated_at":"2015-01-27 20:42:59"
}</code></pre>

   <br/>

   <h3>Listing all whitelisted numbers</h3>

   <br/>

   <p><b>Request</b></p>

   <pre class="code"><code class="http">GET /apps/${app_key}/whitelist/show HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

   <p><b>Parameters</b></p>

   <table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>app_key</td>
<td>Your application key</td>
</tr>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
</tbody>
</table>

   <p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">[{
   "cleansed_number":"1234567890",
   "verifications_allowed":"XX",
   "description":"....",
   "created_at":"2015-01-27 20:42:59",
   "updated_at":"2015-01-27 20:42:59"
},...]</code></pre>

   <p>Example:</p>
   <pre class="code"><code class="bash">curl https://api.ringcaptcha.com/apps/egadelycufyzudegy1a8/whitelist?api_key=fa7213306a57328d258edd90fa9a1d88e38e261e</code><code class="json">[{
   "cleansed_number":"1234567890",
   "verifications_allowed":"2",
   "description":"whitelisting",
   "created_at":"2015-01-27 20:42:59",
   "updated_at":"2015-01-27 20:42:59"
},{
   "cleansed_number":"1234567890",
   "verifications_allowed":"100",
   "description":"Whitelisted",
   "created_at":"2015-01-27 20:42:59",
   "updated_at":"2015-01-27 20:42:59"
}]</code></pre>

   <br/>

   <h3>Removing a whitelisted number</h3>

   <br/>

   <p><b>Request</b></p>

   <pre class="code"><code class="http">DELETE /apps/${app_key}/whitelist HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

   <p><b>Parameters</b></p>

   <table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>app_key</td>
<td>Your application key</td>
</tr>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>phone</td>
<td>Phone number in international format as described in E.123. to whitelist</td>
</tr>
</tbody>
</table>

   <p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "phone_number":"1234567890",
   "max_verifications":"XX",
   "description":"description",
   "created_at":"2015-01-26 17:33:30",
   "updated_at":"2015-01-27 20:42:59"
}</code></pre>

   <p>Example:</p>
   <pre class="code"><code class="bash">curl -X DELETE --data-urlencode "api_key=fa7213306a57328d258edd90fa9a1d88e38e261e" --data-urlencode "phone=+1234567890" https://api.ringcaptcha.com/apps/egadelycufyzudegy1a8/whitelist</code><code class="json">{
   "phone_number":"1234567890",
   "max_verifications":"XX",
   "description":"description",
   "created_at":"2015-01-26 17:33:30",
   "updated_at":"2015-01-27 20:42:59"
}</code></pre>

	<br/><hr/><br/>

   <h2 id="blacklist">Blacklist</h2>

   <p>Whenever you want to block all PIN requests for a specific number, edit or remove a previously blacklisted number, you will need to use this endpoint.</p>

   <br/>

   <h3>Adding a number to the blacklist</h3>

   <p>In order to block all requests for a sending a PIN code to a number, POST to this endpooint with the number and all subsequent requests for PIN codes will be denied.</p>

   <br/>

   <p><b>Request</b></p>

   <pre class="code"><code class="http">POST /apps/${app_key}/blacklist HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

   <p><b>Parameters</b></p>

   <table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>app_key</td>
<td>Your application key</td>
</tr>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>phone</td>
<td>Phone number in international format as described in E.123. to whitelist</td>
</tr>
<tr>
<td>Description</td>
<td>Any description you'd like to include.</td>
</tr>
</tbody>
</table>

   <p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "phone_number":"1234567890",
   "description":"description",
   "created_at":"2015-01-26 17:33:30",
   "updated_at":"2015-01-27 20:42:59"
}</code></pre>

   <p>Example:</p>
   <pre class="code"><code class="bash">curl --data-urlencode "api_key=TTTTTTTTTTTTTTTTTTT" --data-urlencode "phone=+1234567890" --data-urlencode "description=fraud number" https://api.ringcaptcha.com/apps/XXXXXXX/blacklist</code><code class="json">{
   "phone_number":"1234567890",
   "description":"fraud number",
   "created_at":"2015-01-27 20:42:59",
   "updated_at":"2015-01-27 20:42:59"
}</code></pre>

   <br/>

   <h3>Listing all blacklisted numbers</h3>

   <p>In order to GET all previously blacklisted numbers, send a GET request like below.</p>

   <br/>

   <p><b>Request</b></p>

   <pre class="code"><code class="http">GET /apps/${app_key}/blacklist/show HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

   <p><b>Parameters</b></p>

   <table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>app_key</td>
<td>Your application key</td>
</tr>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
</tbody>
</table>

   <p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">[{
   "phone_number":"1234567890",
   "description":"description",
   "created_at":"2015-01-26 17:33:30",
   "updated_at":"2015-01-27 20:42:59"
},...]</code></pre>

   <p>Example:</p>
   <pre class="code"><code class="bash">curl --data-urlencode "api_key=fa7213306a57328d258edd90fa9a1d88e38e261e" https://api.ringcaptcha.com/apps/egadelycufyzudegy1a8/blacklist</code><code class="json">[{
   "phone_number":"1234567890",
   "description":"fraud number",
   "created_at":"2015-01-27 20:42:59",
   "updated_at":"2015-01-27 20:42:59"
},...]</code></pre>

      <br/>

   <h3>Removing a blacklisted number</h3>

   <br/>

   <p><b>Request</b></p>

   <pre class="code"><code class="http">DELETE /apps/${app_key}/blacklist HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

   <p><b>Parameters</b></p>

   <table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>app_key</td>
<td>Your application key</td>
</tr>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>phone</td>
<td>Phone number in international format as described in E.123. to whitelist</td>
</tr>
</tbody>
</table>

   <p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "phone_number":"1234567890",
   "description":"description",
   "created_at":"2015-01-26 17:33:30",
   "updated_at":"2015-01-27 20:42:59"
}</code></pre>

   <p>Example:</p>
   <pre class="code"><code class="bash">curl -X DELETE --data-urlencode "api_key=YYYYYY" --data-urlencode "phone=+1234567890" https://api.ringcaptcha.com/apps/XXXXXXX/blacklist</code><code class="json">{
   "phone_number":"1234567890",
   "description":"description",
   "created_at":"2015-01-26 17:33:30",
   "updated_at":"2015-01-27 20:42:59"
}</code></pre>

   <br/><hr/><br/>

	<h1 id="sms-gateway">SMS Gateway</h1>

	<br/>

	<p>In order to send direct customized SMS messages to your user base using Ringcaptcha solid infrastructure you need to execute a POST request as described below.</p>

	<br/>

	<p><b>Request</b></p>

	<pre class="code"><code class="http">POST /${app_key}/sms HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

	<p><b>Parameters</b></p>

	<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>app_key</td>
<td>Your application key</td>
</tr>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>phone</td>
<td>Phone number in international format as described in E.123. It also accepts a comma-separated list of phones for multiple SMS.</td>
</tr>
<tr>
<td>message</td>
<td>The message to send inside the SMS content. The message will automatically be split in 160 chars of ASCII or 70 chars UTF-8 (7-byte encoding)</td>
</tr>
</tbody>
</table>

	<p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "id":"Transaction ID",
   "status":"SUCCESS or ERROR",
   "message":"Error code when Status is ERROR or SMS message delivered",
   "phone":"Cleansed phone number",
   "message_count":"Number of SMS sent"
}</code></pre>

	<p>Example:</p>
	<pre class="code"><code class="bash">curl --data-urlencode "api_key=fa7213306a57328d258edd90fa9a1d88e38e261e" --data-urlencode "phone=+1234567890" --data-urlencode "message=Hi there" https://api.ringcaptcha.com/egadelycufyzudegy1a8/sms</code><code class="json">{
   "status":"SUCCESS",
   "id":"455bb75ca3dc0da9945f8e217079d9c2862050b1",
   "phone":"+1234567890",
   "message":"Hi there"
}</code></pre>

	<br/><hr/><br/>

	<h1 id="phone-info">Phone Number Information</h1>

	<br/>

	<p>To obtain the information on a phone number (e.g.: country, area, block, subscriber number, type of line, carrier name, etc) you can send the number to this API endpoint. The service will cleanse the number according to every country dialing plan and will output the information or will error out with ERROR_INVALID_NUMBER and its reason.</p>

	<br/>

	<p><b>Request</b></p>

	<pre class="code"><code class="http">POST /${app_key}/normalize HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

	<p><b>Parameters</b></p>

	<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>app_key</td>
<td>Your application key</td>
</tr>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>phone</td>
<td>Phone number in international format.</td>
</tr>
</tbody>
</table>

	<p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "status":"SUCCESS",
   "phone":"+XXXXXXXXX",
   "country":"XX",
   "area":"XX",
   "block":"XXXX",
   "subscriber":"XXXX"
}</code></pre>

	<p>Example:</p>
	<pre class="code"><code class="bash">curl --data-urlencode "api_key=fa7213306a57328d258edd90fa9a1d88e38e261e" --data-urlencode "phone=+1234567890" https://api.ringcaptcha.com/egadelycufyzudegy1a8/normalize</code><code class="json">{
   "status":"SUCCESS",
   "phone":"+1234567890",
   "country":"US",
   "area":"234",
   "block":"567",
   "subscriber":"890",
   "type":"MOBILE"
}</code></pre>

	<br/><hr/><br/>

	<h1 id="metrics">Metrics</h1>

	<br/>

	<p>To obtain the information of your metrics such as Success Rate, Total Spend, Latency and total number of transactions per country and date you can either use our dashboard or integrate with this endpoint.</p>

	<br/>

	<p><b>Request</b></p>

	<pre class="code"><code class="http">GET /metrics HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

	<p><b>Parameters</b></p>

	<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>apps</td>
<td>(optional) List separated by pipes of the applications to get the metrics from. (e.g.: re1234as|23trewsa|...). If not specified it will use all apps owned by the API key.</td>
</tr>
<tr>
<td>from</td>
<td>(Inclusive) Start Date of timerange in ISO8601 format (e.g.: 2015-01-27). Will set start time to 0hrs</td>
</tr>
<tr>
<td>to</td>
<td>(Not Inclusive) End Date of timerange in ISO8601 format (e.g.: 2015-01-28). Will use time of 23:59:59hrs</td>
</tr>
</tbody>
</table>

	<p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "verification":{
      "country":{
         "us":{
            "transactions":X,
            "spend":X (US),
            "rate":Y(%),
            "latency":Z(sec)
         }
      },
      "timestamp":{
         "1419638400":{
            "transactions":X,
            "spend":X (US),
            "rate":Y(%),
            "latency":Z(sec)
         }
      },
      "total":{
         "transactions":X,
        "spend":X (US),
        "rate":Y(%),
        "latency":Z(sec)
      }
   },
   "gateway":{
      "country":{
         "us":{
         	"rate":Y(%),
            "spend":X (US),
            "transactions":X
         }
      },
      "timestamp":{
         "1419638400":{
            "rate":Y(%),
            "spend":X (US),
            "transactions":X
         }
      },
      "total":{
         "rate":Y(%),
         "spend":X (US),
         "transactions":X
      }
   }
}</code></pre>

	<p>Example:</p>
	<pre class="code"><code class="bash">curl https://api.ringcaptcha.com/metrics?api_key=fa7213306a57328d258edd90fa9a1d88e38e261e&from=2014-12-27T20:00:00%2B00:00&to=2015-01-27T20:00:00%2B00:00</code><code class="json">{
   "verification":{
      "country":{
         "us":{
            "transactions":6,
            "spend":0.06,
            "rate":"100.00",
            "latency":9.5
         }
      },
      "timestamp":{
         "1419638400":{
            "transactions":0,
            "spend":0,
            "rate":null,
            "latency":0
         },
         ...
         "1422230400":{
            "transactions":0,
            "spend":0,
            "rate":null,
            "latency":0
         }
      },
      "total":{
         "transactions":46,
         "spend":2.895,
         "rate":"88",
         "latency":19.5
      }
   },
   "gateway":{
      "country":{
         "us":{
            "rate":"100.00",
            "spend":0.03,
            "transactions":3
         }
      },
      "timestamp":{
         "1419638400":{
            "rate": "95.00",
            "spend":0.01,
            "transactions":1
         },
         ...
         "1422230400":{
            "rate": "98.00",
            "spend":0.02,
            "transactions":2
         }
      },
      "total":{
         "rate":"100.00",
         "spend":0.03,
         "transactions":3
      }
   }
}</code></pre>

	<br/><hr/><br/>

	<h1 id="apps">Apps</h1>

	<br/>

	<p>To create, edit, list and delete apps you can interact with our panel or use this endpoint.</p>

	<h3>Create an App</h3>

	<br/>

	<p><b>Request</b></p>

	<pre class="code"><code class="http">POST /apps HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

	<p><b>Parameters</b></p>

	<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>Domain</td>
<td>Domain of any WEBSITE or ONBOARDING app where the widget will be placed</td>
</tr>
<tr>
<td>Name</td>
<td>Mobile App name to identify on RingCaptcha and validate widgets with</td>
</tr>
<tr>
<td>type</td>
<td>One of the following: WEBSITE, MOBILE, ONBOARDING, etc.</td>
</tr>
<tr>
<td>sender_id</td>
<td>Sender Id that the SMS will be sent with whenever possible. Can be a number or alphanumeric up to 11 digits.</td>
</tr>
<tr>
<td>custom_message</td>
<td>Custom SMS message template to use for verifications. You can include any locale that will be used here. Use %PIN% where you want us to input the PIN code</td>
</tr>
<tr>
<td>service</td>
<td>Default service to use when nothing specified via API or widget. Values are SMS or VOICE.</td>
</tr>
<tr>
<td>geolocation</td>
<td>Turn on/off geolocation of widgets</td>
</tr>
<tr>
<td>whitelabel</td>
<td>true: Display ringcaptcha logo or false to hide it</td>
</tr>
</tbody>
</table>

	<p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "app_key":"XXXXXXXX",
   "secret_key":"YYYYYYY",
   "name":[
      "domain.com"
   ],
   "type":"WEBSITE",
   "service":"SMS",
   "sender_id":"sender",
   "custom_message":{
      "en":"Enter %PIN% into the app to verify."
   }
}</code></pre>

	<p>Example:</p>
	<pre class="code"><code class="bash">curl -X POST https://api.ringcaptcha.com/apps --data-urlencode "api_key=fa7213306a57328d258edd90fa9a1d88e38e261e" --data-urlencode "name=app" --data-urlencode "type=MOBILE" --data-urlencode "sender_id=SENDER" --data-urlencode "custom_message={\"en\":\"Enter %PIN% into the app to verify.\"}" --data-urlencode "service=sms"</code><code class="json">{
   "app_key":"XXXXXXXX",
   "secret_key":"YYYYYY",
   "name":[
      "app"
   ],
   "type":"MOBILE",
   "service":"SMS",
   "sender_id":"SENDER",
   "custom_message":{
      "en":"Enter %PIN% into the app to verify."
   }
}</code></pre>

	<br/>

	<h3>List an App</h3>

	<br/>

	<p><b>Request</b></p>

	<pre class="code"><code class="http">GET /apps/XXXXXXXX HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

	<p><b>Parameters</b></p>

	<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>app_key</td>
<td>Application Key for the app you want to list</td>
</tr>
</tbody>
</table>

	<p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "app_key":"XXXXXXXX",
   "secret_key":"YYYYYYY",
   "name":[
      "domain.com"
   ],
   "type":"WEBSITE",
   "service":"SMS",
   "sender_id":"sender",
   "custom_message":{
      "en":"Enter %PIN% into the app to verify."
   }
}</code></pre>

	<p>Example:</p>
	<pre class="code"><code class="bash">curl -X GET https://api.ringcaptcha.com/apps/egadelycufyzudegy1a8?api_key=fa7213306a57328d258edd90fa9a1d88e38e261e</code><code class="json">{
   "app_key":"XXXXXXXX",
   "secret_key":"YYYYYY",
   "name":[
      "app"
   ],
   "type":"MOBILE",
   "service":"SMS",
   "sender_id":"SENDER",
   "custom_message":{
      "en":"Enter %PIN% into the app to verify."
   },
   "geolocation":true,
   "unicode_support":false,
   "white_label":true
}</code></pre>

	<br/>

	<h3>Edit an App</h3>

	<br/>

	<p><b>Request</b></p>

	<pre class="code"><code class="http">PUT /apps/XXXXXXXX HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

	<p><b>Parameters</b></p>

	<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>app_key</td>
<td>Application Key for the app you want to list</td>
</tr>
<tr>
<td>Domain</td>
<td>Domain of any WEBSITE or ONBOARDING app where the widget will be placed</td>
</tr>
<tr>
<td>Name</td>
<td>Mobile App name to identify on RingCaptcha and validate widgets with</td>
</tr>
<tr>
<td>type</td>
<td>One of the following: WEBSITE, MOBILE, ONBOARDING, etc.</td>
</tr>
<tr>
<td>sender_id</td>
<td>Sender Id that the SMS will be sent with whenever possible. Can be a number or alphanumeric up to 11 digits.</td>
</tr>
<tr>
<td>custom_message</td>
<td>Custom SMS message template to use for verifications. You can include any locale that will be used here. Use %PIN% where you want us to input the PIN code</td>
</tr>
<tr>
<td>service</td>
<td>Default service to use when nothing specified via API or widget. Values are SMS or VOICE.</td>
</tr>
<tr>
<td>geolocation</td>
<td>Turn on/off geolocation of widgets</td>
</tr>
<tr>
<td>whitelabel</td>
<td>true: Display ringcaptcha logo or false to hide it</td>
</tr>
</tbody>
</table>

	<p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "app_key":"XXXXXXXX",
   "secret_key":"YYYYYYY",
   "name":[
      "domain.com"
   ],
   "type":"WEBSITE",
   "service":"SMS",
   "sender_id":"sender",
   "custom_message":null
}</code></pre>

	<p>Example:</p>
	<pre class="code"><code class="bash">curl -X PUT https://api.ringcaptcha.com/apps/egadelycufyzudegy1a8 --data-urlencode "api_key=fa7213306a57328d258edd90fa9a1d88e38e261e" --data-urlencode "custom_message={\"es\":\"Ingresa: %PIN% para completar el proceso.\",\"en\":\"Enter %PIN% into the app to verify.\"}"</code><code class="json">{
   "app_key":"XXXXXXXX",
   "secret_key":"YYYYYY",
   "name":[
      "app"
   ],
   "type":"MOBILE",
   "service":"SMS",
   "sender_id":"SENDER",
   "custom_message":{
   	  "es":"Ingresa: %PIN% para completar el proceso.",
      "en":"Enter %PIN% into the app to verify."
   },
   "geolocation":true,
   "unicode_support":false,
   "white_label":true
}</code></pre>

	<br/>

	<h3>Delete an App</h3>

	<br/>

	<p><b>Request</b></p>

	<pre class="code"><code class="http">DELETE /apps/XXXXXXXX HTTP/1.1
Host: https://api.ringcaptcha.com
Content-Type: application/x-www-url-encoded; charset=utf-8</code></pre>

	<p><b>Parameters</b></p>

	<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>api_key</td>
<td>Your API key</td>
</tr>
<tr>
<td>app_key</td>
<td>Application Key for the app you want to list</td>
</tr>
</tbody>
</table>

	<p><b>Response</b></p>

<pre class="code"><code class="http">Status: 200 OK</code><code class="json">{
   "app_key":"XXXXXXXX",
   "secret_key":"YYYYYYY",
   "name":[
      "domain.com"
   ],
   "type":"WEBSITE",
   "service":"SMS",
   "sender_id":"sender",
   "custom_message":{
      "en":"Enter %PIN% into the app to verify."
   }
}</code></pre>

	<p>Example:</p>
	<pre class="code"><code class="bash">curl -X DELETE https://api.ringcaptcha.com/apps/egadelycufyzudegy1a8?api_key=fa7213306a57328d258edd90fa9a1d88e38e261e</code><code class="json">{
   "app_key":"XXXXXXXX",
   "secret_key":"YYYYYY",
   "name":[
      "app"
   ],
   "type":"MOBILE",
   "service":"SMS",
   "sender_id":"SENDER",
   "custom_message":{
      "en":"Enter %PIN% into the app to verify."
   },
   "geolocation":true,
   "unicode_support":false,
   "white_label":true
}</code></pre>

	<br/><hr/><br/>

	<h1 id="error-codes">Error Codes</h1>

	<br/>

	<table class="table">
<thead>
<tr>
<th>Error Code</th>
<th>Description</th>
<th>Suggested Action</th>
</tr>
</thead>
<tbody>
<tr>
<td>ERROR_INVALID_SECRET_KEY</td>
<td>Using incorrect keys or domain/application name</td>
<td>Retrieve correct keys and domain/application name from site for specified application</td>
</tr>
<tr>
<td>ERROR_INVALID_APP_KEY</td>
<td>Using incorrect keys or domain/application name</td>
<td>Retrieve correct keys and domain/application name from site for specified application</td>
</tr>
<tr>
<td>ERROR_INVALID_DOMAIN</td>
<td>Using incorrect keys or domain/application name</td>
<td>Retrieve correct keys and domain/application name from site for specified application</td>
</tr>
<tr>
<td>ERROR_INVALID_API_KEY</td>
<td>Using incorrect keys or domain/application name</td>
<td>Retrieve correct keys and domain/application name from site for specified application</td>
</tr>
<tr>
<td>ERROR_INTERNAL_SERVER_ERROR</td>
<td>Unknown error</td>
<td>Retry again</td>
</tr>
<tr>
<td>ERROR_DIRECT_API_ACCESS_NOT_AVAILABLE</td>
<td>Trying to access an inactive feature or API incorrectly</td>
<td>Follow the docs on the features and API accordingly</td>
</tr>
<tr>
<td>ERROR_WEB_ACCESS_NOT_AVAILABLE</td>
<td>Trying to access an inactive feature or API incorrectly</td>
<td>Follow the docs on the features and API accordingly</td>
</tr>
<tr>
<td>ERROR_MOBILE_ACCESS_NOT_AVAILABLE</td>
<td>Trying to access an inactive feature or API incorrectly</td>
<td>Follow the docs on the features and API accordingly</td>
</tr>
<tr>
<td>ERROR_INSTANT_VALIDATION_NOT_AVAILABLE</td>
<td>Trying to access an inactive feature or API incorrectly</td>
<td>Follow the docs on the features and API accordingly</td>
</tr>
<tr>
<td>ERROR_SERVICE_NOT_AVAILABLE</td>
<td>Trying to access an inactive feature or API incorrectly</td>
<td>Follow the docs on the features and API accordingly</td>
</tr>
<tr>
<td>ERROR_INVALID_SERVICE</td>
<td>Trying to access an inactive feature or API incorrectly</td>
<td>Follow the docs on the features and API accordingly</td>
</tr>
<tr>
<td>ERROR_INVALID_NUMBER</td>
<td>Phone number is incorrect, either the area code is missing or it contains invalid numbers</td>
<td>Retry with a valid number</td>
</tr>
<tr>
<td>ERROR_WAIT_TO_RETRY</td>
<td>Retrying more often than “retry_in” field allows</td>
<td>Wait “retry_in” seconds before trying again</td>
</tr>
<tr>
<td>ERROR_MAX_ATTEMPTS_REACHED</td>
<td>Retrying more times with the same active token or more frequently than expected</td>
<td>Complete verification process successfully or wait until token expires</td>
</tr>
<tr>
<td>ERROR_MAX_VALIDATIONS_REACHED</td>
<td>Retrying more times with the same active token or more frequently than expected</td>
<td>Wait until token expires</td>
</tr>
<tr>
<td>ERROR_INVALID_SESSION</td>
<td>Token is incorrect or has already expired/been verified</td>
<td>Request a new token if available</td>
</tr>
<tr>
<td>ERROR_INVALID_PIN_CODE</td>
<td>PIN code is incorrect</td>
<td>Retry with the correct PIN code</td>
</tr>
</tbody>
</table>
</div>

</article>
					<aside class="col-sm-3 secundary-menu">
						<div class="secundary-inside">
							<h3><a href="/docs">Overview</a></h3>
							<p></p>
							<div class="panel-group" id="accordion">
								<div class="panel">
									<div class="panel-heading">
										<h4>
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#web">HTML & JS</a>
										</h4>
									</div>
									<div id="web" class="panel-collapse collapse">
										<ul class="panel-body">
											<li><a href="/docs/web">Installing the HTML &amp; JS Widget</a></li>
											<li><a href="/docs/web">Launching an Onboarding widget</a></li>
											<li><a href="/docs/web">Launching a Verification widget</a></li>
											<li><a href="/docs/web">Customizing the HTML &amp; JS Widget</a></li>
											<li><a href="/docs/web">Verifying the PIN code</a></li>
										</ul>
									</div>
								</div>
							 	<div class="panel">
									<div class="panel-heading">
										<h4>
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#android">Android</a>
										</h4>
									</div>
									<div id="android" class="panel-collapse collapse">
										<ul class="panel-body">
											<li><a href="/docs/android">Installing the Android SDK</a></li>
											<li><a href="/docs/android">Launching an Onboarding widget</a></li>
											<li><a href="/docs/android">Launching a Verification widget</a></li>
											<li><a href="/docs/android">Implementing your own UI</a></li>
										</ul>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<h4>
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ios">iOS</a>
										</h4>
									</div>
									<div id="ios" class="panel-collapse collapse">
										<ul class="panel-body">
											<li><a href="/docs/ios">Installing the iOS SDK</a></li>
											<li><a href="/docs/ios">Launching an Onboarding widget</a></li>
											<li><a href="/docs/ios">Launching a Verification widget</a></li>
											<li><a href="/docs/ios">Implementing your own UI</a></li>
										</ul>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<h4>
											<a data-toggle="collapse" data-parent="#accordion" href="#api">Rest API</a>
										</h4>
									</div>
									<div id="api" class="panel-collapse collapse in">
										<ul class="panel-body">
											<li>
												<a href="/docs/api">Phone Verification</a>
											</li>
											<li><a href="/docs/api">SMS Gateway</a></li>
											<li><a href="/docs/api">Phone Number Information</a></li>
											<li><a href="/docs/api">Metrics</a></li>
											<li><a href="/docs/api">Apps</a></li>
											<li><a href="/docs/api">Error Codes</a></li>
										</ul>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<h4>
											<a class="expanded" target="_blank" href="//groups.google.com/forum/#!forum/ringcaptcha">FAQ &amp; Forum</a>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
  </section>
  <footer role="contentinfo" id="footer">
    <div class="container-fluid">
      <div class="row" style="font-size: 12px;">
        <div class="col-sm-6">
          <p>Copyright &copy; RingCaptcha 2016. All Rights Reserved.</p>
        </div>
        <div class="col-sm-6">
          <div class="pull-right footer-menu">
            <a href="javascript:void();" class="js-privacy-popup">Privacy Policy</a>
            <a href="javascript:void();" class="js-terms-popup">Terms of Service</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
