<div id="pjax-modal-container" class="modal-content">

<div class="modal-app">
  <form name="create_app" method="post" action="/apps/create" data-pjax="#pjax-modal-container">
    <div class="modal-app-body">
      <div class="modal-app-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h3>Create App</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label required" for="create_app_appType">App type</label>
                <select id="create_app_appType" name="create_app[appType]" required="required" class="form-control">
                  <option value="">Choose One</option>
                  <option value="WEBSITE">Web</option>
                  <option value="MOBILE">Mobile</option>
                  <option value="ONBOARDING" selected="selected">Onboarding</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="steps">
                <li><span>1</span><h4>Step 1</h4><div><p>Select an App Type.</p></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12"><div class="row"><div class="col-md-6"><div class="form-group">
          <label class="control-label required" for="create_app_domain">Domain</label>

          <input type="text" id="create_app_domain" name="create_app[domain]" required="required" data-role="tagsinput" class="form-control" style="display: none;">
        </div>
        <div class="form-group">
          <label class="control-label required" for="create_app_appName">App name</label>
          <input type="text" id="create_app_appName" name="create_app[appName]" required="required" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <ul class="steps">
          <li>
            <span>2</span>
            <h4>Step 2</h4>
            <p>Fill domain name, localhost is accepted by default so configure a different domain (e.g. ringcaptcha.com). Fill app name like it appears in the App Store.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" style="margin-bottom: 0;">
          <label style="font-weight: bold;">App Information</label>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <label class="control-label" for="create_app_appSchemes_ios">iOS Scheme</label>&nbsp;
                    <span class="circle-btn circle-help" data-toggle="tooltip" data-placement="top" title="Custom Scheme to use for the SMS link to deep-link to your app for verification. Do not include : or //">
                      <i class="fa fa-question"></i>
                    </span>
                  </label>
                  <input type="text" id="create_app_appSchemes_ios" name="create_app[appSchemes][ios]" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label><label class="control-label" for="create_app_appSchemes_android">Android Scheme</label>&nbsp;
                  <span class="circle-btn circle-help" data-toggle="tooltip" data-placement="top" title="Custom Scheme to use for the SMS link to deep-link to your app for verification. Do not include : or //">
                    <i class="fa fa-question"></i>
                  </span>
                </label>
                <input type="text" id="create_app_appSchemes_android" name="create_app[appSchemes][android]" class="form-control">
              </div>
            </div>
          </div>
        </div><div class="form-group" style="margin-bottom: 0;"><div class="row"><div class="col-md-6"><div class="form-group"><label><label class="control-label" for="create_app_storeIds_ios">iOS App ID</label>&nbsp;
                  <span class="circle-btn circle-help" data-toggle="tooltip" data-placement="top" title="iTunes Store app id for the SMS link to deep-link directly to that app."><i class="fa fa-question"></i></span></label><input type="text" id="create_app_storeIds_ios" name="create_app[storeIds][ios]" class="form-control"></div></div><div class="col-md-6"><div class="form-group"><label><label class="control-label" for="create_app_storeIds_android">Android Package</label>&nbsp;
                  <span class="circle-btn circle-help" data-toggle="tooltip" data-placement="top" title="Play Store package name for the SMS link to deep-link directly to that app."><i class="fa fa-question"></i></span></label><input type="text" id="create_app_storeIds_android" name="create_app[storeIds][android]" class="form-control"></div></div></div></div><div class="form-group" style="margin-bottom: 0;"><div class="row"><div class="col-md-12"><div class="form-group"><label><label class="control-label" for="create_app_unavailablePlatformFallbackUrl">Other Platforms</label>&nbsp;
                  <span class="circle-btn circle-help" data-toggle="tooltip" data-placement="top" title="URL to redirect to whenever the SMS link is accessed from a different platform."><i class="fa fa-question"></i></span></label><input type="text" id="create_app_unavailablePlatformFallbackUrl" name="create_app[unavailablePlatformFallbackUrl]" class="form-control"></div></div></div></div></div><div class="col-md-6"><ul class="steps"><li><span>3</span><h4>Step 3</h4><p>Fill iOS and Android App Store Ids and input the app's custom scheme for deeplinking the SMS link directly to the app.</p></li></ul></div></div></div></div></div><div class="modal-app-footer"><p class="pull-left">Fill all fields and then follow the instructions to integrate</p><button type="submit" class="btnmodal btnmodal-red"><i class="icon icon-create"></i> Create App</button></div><input type="hidden" id="create_app_authenticity_token" name="create_app[authenticity_token]" class="form-control" value="P-IZ_DzerPED8NcFZbKyPfjWhVJV4LhW_LLBV5-PhS0">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                </form>
              </div>
<script>
$('input#create_app_domain').tagsinput();
$('.bootstrap-tagsinput input').keyup(function () {
    $(this).attr('size', $(this).val().length).css('width', 'auto');
});
</script></div>
