<div class="wrap">
  <section id="main-container" role="main" style="min-height: 522px;">
    <header class="title-container">
    <div class="title title-active">
        <div class="col-md-12">
            <h1>User Profile</h1>
        </div>
    </div>
    <div class="subtitle">
        <div class="col-md-12">
            <p>Update your e-mail</p>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <%= form_for current_user, :method => :post, :url => {:action => 'update_email'} do |f| %>
            <%= render 'layouts/messages' %>
                <fieldset class="wrapper">

					<div class="form-group">
              <label class="control-label required" for="new_email">
                New email
              </label>
              <input type="email" id="new_email" name="current_user[email]" required="required" class="form-control" />
          </div>
					<div class="form-group">
                <label class="control-label required" for="password">
                  User password
                </label>
                <input type="password" id="password" name="current_user[password]" required="required" class="form-control" />
          </div>
                </fieldset>
            <footer class="form-footer">
                <div>
                    <button type="submit" class="btn btn-default">Update e-mail</button>
                </div>
            </footer>
          <% end %>
        </div>
    </div>
</div>
  </section>
  <footer role="contentinfo" id="footer">
    <div class="container-fluid">
      <div class="row" style="font-size: 12px;">
        <div class="col-sm-6">
          <p>Copyright &copy; RingCaptcha 2016. All Rights Reserved.</p>
        </div>
        <div class="col-sm-6">
          <div class="pull-right footer-menu">
            <a href="javascript:void();" class="js-privacy-popup">Privacy Policy</a>
            <a href="javascript:void();" class="js-terms-popup">Terms of Service</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
